
#containerStrudel {
    background: #2e3235;
}

#containerStrudel .archivo {
    margin: 0;
    font-size: 0.8em;
    color: rgba(255,255,255,.4);
    text-align: right;
}

#containerStrudel .archivo:focus {
    color: rgba(255,255,255,.8);
}

#containerStrudel #codeStrudel div.cm-content.cm-lineWrapping:focus {
    outline: 1px dashed #cc8;
}
