
#containerStrudel {
    background: #2e3235;

    .archivo {
        margin: 0;

        input {
            width: 100%;
            background: transparent;
            color: rgba(255,255,255,.4);
            font-size: 0.8em;
            text-align: right;
            border: none;
        }

        &:focus {
            input { color: rgba(255,255,255,.8); }
        }

    }
    .codeStrudel div.cm-content.cm-lineWrapping:focus {
        outline: 1px dashed #cc8;
    }

}
