#graficarAudio {
    display: none;
    padding: 10px;
}

#graficarAudio * {
    font-family: 'Fira Code', monospace;
}

#graficarAudio.activo {
    display: block;
}
#graficarAudio input {
    width: 100%;
    display: inline-block;
}
#graficarAudio select {
    width: 100%;
    display: inline-block;
}

#graficarAudio .visor {
    position: relative;
}

#graficarAudio .imagen {
    margin: 3px 0;
    width: 100%;
    display: block;
}

#graficarAudio .seleccion {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    _background: rgba(255,255,255,0.3);
    outline: 2px dashed #ff0;
}
#graficarAudio .d-flex {
    display: flex;
    justify-content: center;
}

#graficarAudio .rango {
    width: 80%;
}

#graficarAudio .valor {
    width: 20%;
    color: #ff0;
}

#graficarAudio .visible-con-datos {
    display: none;
}

#graficarAudio.con-datos .visible-con-datos {
    display: block;
}
