#graficarAudio {
    display: none;
    padding: 10px;

    &.activo { display: block; }

    * { font-family: 'Fira Code', monospace; }

    input {
        border: none;
        background: #000;
        color: #fff;
        padding: 4px 6px;
        width: 100%;
        display: inline-block;
    }
    select {
        border: none;
        background: #333;
        color: #fff;
        padding: 4px 6px;
        width: 100%;
        display: inline-block;
        margin: 3px 0;
    }

    .visor {
        position: relative;
        display: block;
        margin: 10px 0;
        &:empty {
            display: none;
        }

    }

    .imagen {
        margin: 3px 0;
        width: 100%;
        display: block;
    }

    .seleccion {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        outline: 2px dashed #ff0;
    }
    .d-flex {
        display: flex;
        justify-content: center;
    }

    .rango { width: 80%; }

    .valor {
        width: 20%;
        color: #ff0;
    }

    .visible-con-datos { display: none; }

    &.con-datos {
        .visible-con-datos { display: block; }
    }
}
