.menu {
    padding: 10px 16px 6px;
    text-align: center;
    display: none;
}

.menu.activo {
    display: block;
}

.menu span {
    color: #777;
    font-size: 0.8em;
}

.menu button {
    background: #333;
    border: none;
    margin: 0;
    padding: 2px 4px;
    color: #ddd;
    cursor: pointer;
    font-size: 0.9em;
}

.menu button:hover {
    background: #222;
    color: #fff;
}

.menu * {
    font-family: 'Fira Code';
    font-size: 1.1em;
}

#codeComando {
    background: transparent;
    border: 1px solid #444;
    width: calc(100% - 20px);
    display: block;
    color: #aaa;
    padding: 5px 6px;
    margin: 7px 5px 3px;
    border-radius: 6px;
    font-size: 0.9em;
    outline: none!important;
}

#codeComando:focus {
    background: #222;
    color: #fff;
}


#codeComando.bien {
    background: #6a0;
}

#codeComando.error {
    background: #a10;
}
