.menu {
    padding: 10px 16px 6px;
    text-align: center;
    display: none;

    &.activo { display: block; }

    span {
        color: #777;
        font-size: 0.8em;
    }

    * {
        font-family: 'Fira Code';
        font-size: 1.1em;
    }
}

#codeComando {
    background: transparent;
    border: 1px solid #444;
    width: calc(100% - 20px);
    display: block;
    color: #aaa;
    padding: 5px 6px;
    margin: 7px 5px 3px;
    border-radius: 6px;
    font-size: 0.7em;
    outline: none!important;

    &:focus {
        background: #222;
        color: #fff;
    }

    &.bien { background: #6a0; }
    &.error { background: #a10; }
}

#exploradorRecursos {
    background: transparent;
    border: 1px solid #444;
    width: calc(100% - 20px);
    display: block;
    color: #aaa;
    padding: 5px 6px;
    margin: 7px 5px 3px;
    border-radius: 6px;
    font-size: 0.7em;
    outline: none!important;

    &:focus {
        background: #222;
        color: #fff;
    }

    &.bien { background: #6a0; }
    &.error { background: #a10; }
}
