#codeNotas {
    background: #1f1223;
    display: none;

    &.activo { display: block; }

    * { font-family: 'Fira Code', monospace; }

    .cnt {
        padding: 10px;
        color: #78c2e7;

        &:focus {
            border: none;
            outline: 1px dashed #cc8;
        }
    }

    .archivo {
        margin: 0;

        input {
            width: 100%;
            background: transparent;
            color: rgba(255,255,255,.4);
            font-size: 0.8em;
            text-align: right;
            border: none;
        }

        &:focus {
            input { color: rgba(255,255,255,.8); }
        }
    }
}
