<!doctype html>
<html>
    <head>
        <meta charset="utf-8" />
        <title>{{ cfg.title }}</title>

        <link rel="icon" href="/static/img/favicon.ico">

        {% if not cfg.modo_offline %}
        <link rel="stylesheet" href="/static/css/tipografia.css">
        {% endif%}

        <link rel="stylesheet" href="/static/css/estilo.css">
        <link rel="stylesheet" href="/static/css/editor.css">
        <link rel="stylesheet" href="/static/css/menu.css">

        {% if cfg.codeStrudel.activo %}
        <script>
         /* theme - visual */
         const theme_key = '{{ cfg.codeStrudel.theme }}',
               font_family = '{{ cfg.codeStrudel.fontfamily }}';

         /* samples */
         const url_local = 'http://{{ cfg.server.host }}:{{ cfg.server.port }}/',
               samples_local = `${url_local}static/samples/`,
               lista_de_samples = [
             {% for dir in cfg.samples.activos %}
             `${samples_local}{{ dir }}/samples.json`,
             {% endfor %}
         ];

         /* strudel codigos*/
         const path_code_strudel = '{{ cfg.codeStrudel.ruta }}';
        </script>
        {% endif %}

        {% if cfg.modo_offline %}
        <script src="/static/js/strudel-1_1_0-offline.js"></script>
        {% else %}
        <script src="https://unpkg.com/@strudel/repl@latest"></script>
        {% endif %}


        <script src="/static/js/audiomuestra.js"></script>
        <script src="/static/js/musicaconceptos.js"></script>
        <script src="/static/js/comun.js"></script>
        <script src="/static/js/utiles.js"></script>

    </head>
    <body>
        <div class="areas">
            <div class="areaCode" id="areaCode">
                <ul>

                    {% if cfg.codeStrudel.activo %}
                    <li>
                        <link rel="stylesheet" href="/static/css/codestrudel.css">
                        <script src="/static/js/codeStrudel.js"></script>
                        <div id="containerStrudel" title="{{ cfg.codeStrudel.titulo }}"></div>
                        <script>
                         CodeStrudel.cfg = {{ tojson(cfg.codeStrudel) | safe }};
                         window.addEventListener('load', ev => { CodeStrudel.activar() });
                        </script>
                    </li>
                    {% endif %}

                    {% if cfg.codeNotas.activo %}
                    <li>
                        <link rel="stylesheet" href="/static/css/notas.css">
                        <script src="/static/js/notas.js"></script>
                        <div id="codeNotas" title="{{ cfg.codeNotas.titulo }}"></div>
                        <script>
                         Notas.cfg = {{ tojson(cfg.codeNotas) | safe }};
                         window.addEventListener('load', ev => { Notas.activar() });
                        </script>
                    </li>
                    {% endif %}

                    {% if cfg.codeJs.activo %}
                    <li>
                        <link rel="stylesheet" href="/static/css/codejs.css">
                        <script src="/static/js/codejs.js"></script>
                        <div id="codeJs" title="{{ cfg.codeJs.titulo }}"></div>
                        <script>
                         CodeJs.cfg = {{ tojson(cfg.codeJs) | safe }};
                         window.addEventListener('load', ev => { CodeJs.activar() });
                        </script>
                    </li>
                    {% endif %}

                </ul>
            </div>
            <div class="areaUtiles visible" id="areaUtiles">
                <button class="ajuste">#</button>
                <ul>

                    <li>
                        <div id="menuLCE" class="menu">
                            <div class="alignLeft">
                                <span>LCE: </span>
                                <span title="Dimensiones de ventana">{<span id="dimensiones"></span>}</span>
                                <span title="Modo Offline">{% if cfg.modo_offline %}{offline}{% else %}{online}{% endif %}</span>
                                <br>
                                <a class="btn link" href="{{ url_for('audio_explorar') }}" target="ExplorarAudio">x:Aud</a>
                                <button class="btn link" id="limpiarSesion">0:Sesión</button>
                                <button class="btn link" id="btnShutdown" title="Cerrar la aplicación y apagar el servidor.">a:Chau!</button>
                            </div>
                            <div>
                                <input id="codeComando" title="Área de ejecución de comandos" autocorrect="off" autocapitalize="off" spellcheck="false"
                                       value="{{ cfg.LCEditor.codeComando.inicial }}" list="codeComando_historial">
                                <datalist id="codeComando_historial">
                                    {% for code in cfg.LCEditor.codeComando.historial %}
                                    <option value="{{ code }}"></option>
                                    {% endfor%}
                                </datalist>
                            </div>
                            <div>
                                <input id="exploradorRecursos" title="Explorador de recursos" autocorrect="off" autocapitalize="off" spellcheck="false"
                                       value="{{ cfg.LCEditor.exploradorRecursos.inicial }}" list="exploradorRecursos_historial">
                                <datalist id="exploradorRecursos_historial">
                                    {% for uri in cfg.LCEditor.exploradorRecursos.historial %}
                                    <option value="{{ uri }}"></option>
                                    {% endfor%}
                                </datalist>
                            </div>

                            <script>
                             {% if cfg.LCEditor.menu_visible %}
                             menuLCE.classList.add('activo');
                             {% endif %}
                            </script>

                        </div>
                    </li>

                    {% if cfg.codeStrudel.activo %}
                    <li><div id="menuStrudel"></div></li>
                    {% endif %}


                    {% if cfg.controlAudio.activo %}
                    <li>
                        <link rel="stylesheet" href="/static/css/controlesaudio.css">
                        <script src="/static/js/controlesaudio.js"></script>
                        <div id="controlesAudio" title="{{ cfg.controlAudio.titulo }}"></div>
                        <script>
                         window.addEventListener('load', ev => { ControlesAudio.activar() });
                        </script>
                    </li>
                    {% endif %}

                    {% if cfg.grabacion.activo %}
                    <li>
                        <link rel="stylesheet" href="/static/css/grabacion.css">
                        <script src="/static/js/grabacion.js"></script>
                        <div id="grabacion" title="{{ cfg.grabacion.titulo }}"></div>
                        <script>
                         Grabacion.cfg = {{ tojson(cfg.grabacion) | safe }};
                         window.addEventListener('load', ev => { Grabacion.activar() });
                        </script>
                    </li>
                    {% endif %}

                    {% if cfg.graficar.activo %}
                    <li>
                        <link rel="stylesheet" href="/static/css/graficar.css">
                        <script src="/static/js/graficar.js"></script>
                        <div id="graficarAudio" title="{{ cfg.graficar.titulo }}"></div>
                        <script>
                         Graficar.cfg = {{ tojson(cfg.graficar) | safe }};
                         window.addEventListener('load', ev => { Graficar.activar() });
                        </script>
                    </li>
                    {% endif %}

                    {% if cfg.cronometro.activo %}
                    <li>
                        <link rel="stylesheet" href="/static/css/cronometro.css">
                        <script src="/static/js/cronometro.js"></script>
                        <div id="cronometro" title="{{ cfg.cronometro.titulo }}"></div>
                        <script>
                         Cronometro.cfg = {{ tojson(cfg.cronometro) | safe }};
                         window.addEventListener('load', ev => { Cronometro.activar() });
                        </script>
                    </li>
                    {% endif %}

                    {% if cfg.webExterna.activo %}
                    <li>
                        <link rel="stylesheet" href="/static/css/webexterna.css">
                        <script src="/static/js/webexterna.js"></script>

                        <div id="webExterna" title="{{ cfg.webExterna.titulo }}"></div>
                        <script>
                         WebExterna.cfg = {{ tojson(cfg.webExterna) | safe }};
                         window.addEventListener('load', ev => { WebExterna.activar() });
                        </script>
                    </li>
                    {% endif %}


                </ul>
            </div>
        </div>

        <script src="/static/js/init-editor.js"></script>

    </body>
</html>
